

.mt-4 h2{
    color:whitesmoke;
    font-size: 23px;
    width:150px;
    margin-left:50px;
    margin-bottom: 25px;
}

.mt-4{
    width:350px;
    height:450px;
    margin:0px 30px;
    border:0.5px solid ivory;
}

.mt-4 .row{
    margin-bottom:35px;
    height:30px;
    width:250px;

}

.mt-4 .msg{
    margin-bottom:30px;
    width:250px;
    height:70px;
}

.mt-4 .submit{
    /*margin-top:30px;*/
    margin-bottom: 20px;
}