.female h2{
    color:rgb(61, 81, 168);
    margin-top:30px;
}

.female h3{
    margin-left: 50px;
    text-align: left;
}

.pigsimage{
    position:flex;
    text-align: left;
}

.pigs-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 10px;
}

.female h4{
    text-align: left;
    margin-left: 60px;
    font-size: 20px;
    color:rgb(4,29,4);
}

.p-pigs{
    text-align: left;
    margin-left: 60px;
}