.video{
    margin-top:20px;
}

.video h1{
    font-size: 30px;
    padding: 15px 0;
    color: rgb(61, 81, 168);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom:2px dashed rgb(168, 152, 228);
    margin: 0px 80px;
}

.video li{
    display: inline-table;
    padding: 15px 50px;
}

.video li a{
    background-color:rgb(221,216,216);
    margin:1.8em 0em;
    padding:0.5em 0.5em;
}
.video li a:hover{
    background-color: wheat;
}
.player{
    /*margin:30px 275px;*/
    margin-left:auto;
    margin-right: auto;
    display: block;
}

