.post h2{
    color:rgb(61,81,168);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.post-body{
    margin:0 30px;
    text-align: left;
}
.goback{
    font-size: 20px;
}